/*Position*/
.relative{
    position: relative;
}
.absolute {
    position: absolute;
}
/*Display-Inline Block*/
.display{
    display: inline-block;
}
/*Vertical Align Middle*/
.middle{
    vertical-align: middle;
}
/*Header Style*/
.fixed{
    position: fixed;
    width: 100%;
    z-index: 20;
    background-color: white;
}
.container {
    width: 1320px;
    margin: 0 auto;
}
.navigation{
    margin-left: 120px;
}
.nav-li{
    margin: 0 25px;
}
.nav-a{
    text-transform: uppercase;
    color: black;
    font-size: 16px;
    font-weight: bolder;
    transition: all 0.8s;
}
.nav-a:hover{
    color: brown;
}
/*Banner Section Style*/
.banner-container{
    position: relative;
}
.section-image{
    margin-top: 96px;
    width: 100%;
}
.h-div{
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
.section-h1{
    color: white;
    font-size: 22px;
    font-weight: 600;
}
.section-h2 {
    color: white;
    font-weight: bold;
    font-size: 48px;
}
/*Section 2 Style*/

.float-right {
 float: right;
}
.float-left{
    float: left;
}
.h3-section{
   font-size: 22px;
   color: #FF7A00;
   font-weight: 800;
   margin: 90px 0 90px 0;
}
.left-block{
    margin-right: 20px;
}
.clear::after{
    content: " ";
    clear: both;
    display: block;
}
.small-container{
    width: 563px;
}
.Container-h1{
    font-size: 36px;
    font-weight: bold;
}
.para-cont{
    margin-top: 25px;
    width: 636px;
    color: #7B7B7B;
    font-size: 16px;
}
.read-more{
    margin-top: 15px;
    color: #FF7A00;
    font-size: 14px;
    font-weight: bolder;
}
.read-more::after {
    content: " ";
    height: 4px;
    width: 47px;
    background-color: #FF7A00;
    display: inline-block;
    margin-left: 18px;
}
/*Margin TOP margin left*/
.margin {
    margin-top: 60px;   
}
.margin-left{
    margin-left: 210px;
}
.margin-margin{
    margin-top: 90px;
}
/*Load More BOX*/
.load-more{
    background-color: #FF7A00;
    width: 190px;
    height: 70px;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    padding: 25px;
}
.load--more {
    font-weight: bolder;
    font-size: 16px;
    color: white;
}
/*Background Section*/
.background-section{
    width: 100%;
    height: 266px;
    background-color: #181C28;
    margin-top: 135px;
}
/*Footer*/
.block-h2{
    font-size: 24px;
    text-transform: uppercase;
}
.list-block{
    margin-top: 25px;
}
.footer-li{
    margin: 25px 0;
}
.footer-a{
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 500;
}
.footer-p {
    color: #A4A4A4;
    font-size: 16px;
    margin-bottom: 100px;
}
